{% assign repo_url =  include.repository | split: '/' %}

<div class="repo p-2 text-center">
  <a href="https://github.com/{{ include.repository }}">
    <img class="repo-img-light w-100" alt="{{ include.repository }}" src="https://github-readme-stats.vercel.app/api/pin/?username={{ include.organization }}&repo={{ include.repository }}&theme={{ site.repo_theme_light }}">
    <img class="repo-img-dark w-100" alt="{{ include.repository }}" src="https://github-readme-stats.vercel.app/api/pin/?username={{ include.organization }}&repo={{ include.repository }}&theme={{ site.repo_theme_dark }}">
  </a>
</div>
